name: Terraform Deployment

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      ##########################################
      # 1) REMOTE-INFRA (Backend Setup First)
      ##########################################
      - name: Terraform Init (remote-infra)
        working-directory: ./remote-infra
        run: terraform init -reconfigure

      - name: Terraform Apply (remote-infra)
        working-directory: ./remote-infra
        run: terraform apply -auto-approve

      ##########################################
      # 2) EC2 Infra (Uses S3 Backend Now)
      ##########################################
      - name: Terraform Init (ec2)
        working-directory: ./ec2
        run: terraform init -reconfigure

      - name: Terraform Plan (ec2)
        working-directory: ./ec2
        run: terraform plan

      - name: Terraform Apply (ec2)
        working-directory: ./ec2
        run: terraform apply -auto-approve
