name: Terraform Deployment

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  backend-infra:
    name: Create Terraform Backend (S3 + DynamoDB)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # APPLY backend infra (NO backend)
      - name: Terraform Init (bootstrap)
        run: cd bootstrap && terraform init

      - name: Terraform Apply (bootstrap)
        run: cd bootstrap && terraform apply -auto-approve

  deploy-infra:
    name: Deploy EC2 using S3 Backend
    needs: backend-infra
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # INIT with S3 backend
      - name: Terraform Init (EC2)
        run: terraform init -reconfigure

      - name: Terraform Apply (EC2)
        run: terraform apply -auto-approve
      
