name: Terraform Deployment

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Install Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      # Configure AWS Credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      #############################################
      # 1) REMOTE-INFRA: Create S3 + DynamoDB
      #############################################
      - name: Terraform Init (remote-infra)
        working-directory: ./remote-infra
        run: terraform init

      - name: Terraform Apply (remote-infra)
        working-directory: ./remote-infra
        run: terraform apply -auto-approve

      #############################################
      # 2) EC2 INFRA: uses backend from S3
      #############################################
      - name: Terraform Init (ec2)
        working-directory: ./ec2
        run: terraform init -reconfigure

      - name: Terraform Plan (ec2)
        working-directory: ./ec2
        run: terraform plan

      - name: Terraform Apply (ec2)
        working-directory: ./ec2
        run: terraform apply -auto-approve
