name: Terraform Deployment

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # Step 1: Apply backend infra (S3 + DynamoDB)
      - name: Terraform Init (remote-infra)
        run: cd remote-infra && terraform init -reconfigure

      - name: Terraform Apply (remote-infra)
        run: cd remote-infra && terraform apply -auto-approve

      # Step 2: EC2 resources
      - name: Terraform Init (EC2)
        run: cd ec2 && terraform init

      - name: Terraform Apply (EC2)
        run: cd ec2 && terraform apply -auto-approve
